@import "bootstrap";
@import  "./top_index", "./users", "./rooms", "./public";

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.header_menu {
    border-bottom: solid 1px #CCCCCC;
    text-align: center;
    height: 30px;
    z-index: 5;
    position: relative;
    background-color: white;
}

.header_menu a {
    padding: 0px 15px;
}

#flash {
	text-align :center;
	background-color: #33CCFF;
	border-bottom: solid 1px #CCCCCC;
  position: absolute;
  top: -30px;
  left: 0px;
  height: 30px;
  width: 25%;
  z-index: 10;
  opacity: 0;
  animation-name: SlideInAndOut;
  animation-duration: 5s;
}

@keyframes SlideInAndOut {
  0% {
    opacity: 1;
  }
  10% {
    transform: translateY(30px);
    opacity: 1;
  }
  90% {
    transform: translateY(30px);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media ( min-width : 600px ){
    .flexbox {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: calc(100% - 30px);
    }
  .main {
  	width: 50%;
    margin: 0;
    -webkit-order: 1;
    order: 2;
    height: 100%;
    overflow: scroll;
  }
  .left {
  	width: 25%;
    -webkit-order: 2;
    order: 1;
    border-right: solid 1px #CCCCCC;
    height: 100%;
    overflow: scroll;
  }
  .right {
  	width: 25%;
    -webkit-order: 3;
    order: 3;
    border-left: solid 1px #CCCCCC;
    height: 100%;
    overflow: scroll;
  }
}

.blank {
  height: 15px;
  background-color: #DDDDDD;
  border-bottom: solid 1px #CCCCCC;
}

.album .img1 {
  display: block;
  margin: 0 auto;
}

.album .img2 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 25%;
  z-index: 1;
  animation-delay:10s;
}

.album .img3 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 25%;
  z-index: 1;
  animation-delay:20s;
}

.album .img4 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 25%;
  z-index: 1;
  animation-delay:30s;
}

.album .img5 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 25%;
  z-index: 1;
  animation-delay:40s;
}

.album .img6 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 25%;
  z-index: 1;
  animation-delay:50s;
}

.album .img7 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 25%;
  z-index: 1;
  animation-delay:60s;
}

.album img {
  animation-name: album;
  animation-duration: 70s;
  animation-iteration-count: infinite;
  opacity: 0;
}

.album .r-img2 {
  position: absolute;
  top: 0px;
  left: 75%;
  width: 25%;
  z-index: 1;
  animation-delay:10s;
}

.album .r-img3 {
  position: absolute;
  top: 0px;
  left: 75%;
  width: 25%;
  z-index: 1;
  animation-delay:20s;
}

.album .r-img4 {
  position: absolute;
  top: 0px;
  left: 75%;
  width: 25%;
  z-index: 1;
  animation-delay:30s;
}

.album .r-img5 {
  position: absolute;
  top: 0px;
  left: 75%;
  width: 25%;
  z-index: 1;
  animation-delay:40s;
}

.album .r-img6 {
  position: absolute;
  top: 0px;
  left: 75%;
  width: 25%;
  z-index: 1;
  animation-delay:50s;
}

.album .r-img7 {
  position: absolute;
  top: 0px;
  left: 75%;
  width: 25%;
  z-index: 1;
  animation-delay:60s;
}

@keyframes album {
  0% {
    opacity: 0;
  }
  
  2% {
    opacity: 1;
  }

  12% {
    opacity: 1;
  }
  14% {
    opacity: 0;
  }
}

